{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %} Base Page {% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  <div class='container'>
    {% include 'navbar.html' %} 
    <br />
    {% block content %} {% endblock %}
  </div>
  <script src='{% static 'js/jquery-3.5.1.min.js' %}'></script>
  <script src='{% static 'js/bootstrap.min.js' %}'></script>
  {% block javascript %} {% endblock %}
  <script src='{% static 'js/book.js' %}'></script>
</body>
</html>
